
<ion-card class="drop-shadow-2xl">
  <ion-toolbar>
    <div  class="flex-row items-center">
      <ion-button (click)="dismissModal()" fill="clear" >
        <ion-icon size="large" name="close-outline"></ion-icon>
      </ion-button>
      <div class="ml-auto" >
        <ion-button (click)="toggleLike()" slot="end" fill="clear" size="large">
          <ion-icon [name]="this.stock.liked ? 'heart' : 'heart-outline'" size="large"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>

  <div class="flex-row items-center">
    <div class="flex-column ion-float-left pl-2 pt-1 pb-1" >
      <ion-card-title class="text-lg">{{stock.symbol}}</ion-card-title>
      <ion-card-subtitle>{{stock.companyName}}</ion-card-subtitle>
    </div>
    <div class="flex-column font-bold ion-float-right ml-6" >
      <ion-card-title class="text-lg">{{stock.previousClosePrice}} {{stock.currency}}</ion-card-title>
      <ion-card-subtitle class="text-green-500">+8.0%</ion-card-subtitle>
    </div>
  </div>
  <div class="flex flex-row items-center w-full">
      <ion-button class="m-auto" size="small" slot="start" fill="outline">1H</ion-button>
      <ion-button class="m-auto" size="small" slot="start" fill="outline">1D</ion-button>
      <ion-button class="m-auto" size="small" slot="start" fill="outline">1W</ion-button>
      <ion-button class="m-auto" size="small" slot="start" fill="outline">1M</ion-button>
      <ion-button class="m-auto" size="small" slot="start" fill="outline">3M</ion-button>
      <ion-button class="m-auto" size="small" slot="start" fill="outline">1Y</ion-button>
      <ion-button class="m-auto" size="small" slot="start" fill="outline">5Y</ion-button>
  </div>

  <div class="mt-3 w-full flex justify-center chart-wrapper">
    <canvas baseChart #canva
            [type]="'line'"
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
    >
    </canvas>
  </div>

  <ion-card-content>
    <div class="flex flex-row items-center pt-1">
      <div class="flex flex-row items-center border-2 border-blue-600 rounded-lg p-3 w-full">
        <span>Recommendation: </span>
        <span class="font-bold text-red-700 ml-auto">sell</span>
      </div>
    </div>

    <div class="flex flex-row items-center pt-2">
      <ion-checkbox checked="true" justify="space-between" class="p-1"></ion-checkbox>

      <span class="pl-2 font-bold text-lg">RSI</span>

      <div class="items-center border-2 border-blue-600 rounded-lg p-1  ml-auto">
          <ion-button size="small" fill="clear" class="p-1">
            <ion-icon size="small" name="remove-outline"></ion-icon>
          </ion-button>

          <span class="font-bold text-center p-1">0</span>

          <span class="p-1 ml-auto">
            <ion-button size="small" fill="clear">
              <ion-icon size="small" name="add-outline"></ion-icon>
            </ion-button>
          </span>
      </div>

    </div>

  </ion-card-content>
</ion-card>
