@import "@riapacheco/yutes/seasonal";

.chart-wrapper {
  color: $success;
  border-radius: 10px;
  //background-image: linear-gradient(to bottom right, $midnight-medium, $midnight-dark);
  background-attachment: fixed;
}

