@import "@riapacheco/yutes/seasonal";

.chart-wrapper {
  color: $success;
  border-radius: 10px;
  //background-image: linear-gradient(to bottom right, $midnight-medium, $midnight-dark);
  background-attachment: fixed;
}

ion-backdrop {
  --opacity: 0.5;
  background-color: rgba(0, 0, 0, var(--opacity));
}

ion-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}
