<ion-card>

  <ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon size="small" name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon  size="small" name="heart-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

    <ion-button fill="clear" size="large">Stock</ion-button>

    <ion-card-subtitle class="pl-6">Stock Inc. (<span class="text-red-700 font-bold">-8.0%</span>) </ion-card-subtitle>

  </ion-toolbar>

  <div class="w-full flex justify-center">
    <canvas #chart baseChart
            [type]="'line'"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [legend]="lineChartLegend">
    </canvas>

<!--    <app-stock-card></app-stock-card>-->
  </div>

<!--  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />-->

  <ion-card-content>
    <div class="flex flex-row items-center">
      <ion-button slot="start" fill="outline">Indicators</ion-button>

      <div class="ml-auto border-2 border-blue-600 rounded-lg p-3">
        <h3>Price: <span class="font-bold">100.53 EUR</span></h3>
      </div>
    </div>

    <div class="flex flex-row items-center pt-4">
      <div class="flex flex-row items-center border-2 border-blue-600 rounded-lg p-3 w-full">
        <span>Recommendation: </span>
        <span class="font-bold text-red-700 ml-auto">sell</span>
      </div>
    </div>


  </ion-card-content>
</ion-card>
